tests
doc/node_modules
doc/.spectral.js
doc/package-lock.json
doc/package.json
doc/results.html
service/database/database.db
webui
.golangci.yml
open-node.sh
package.json
package-lock.json
cmd/webapi/register-web-ui.go