openapi: 3.0.0
info:
  description: WASAText app backend REST API.
  title: WASAText API
  version: 1.0.0
paths:
  /session:
    post:
      tags: ["login"]
      summary: Logs in the user
      description: |-
        If the user does not exist, it will be created,
        and an identifier is returned.
        If the user exists, the user identifier is returned.
      operationId: doLogin
      requestBody:
        description: User details
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Maria
                  pattern: 'ˆ.*?$'
                  minLength: 3
                  maxLength: 16
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '201':
          description: User log-in action successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                    example: "abcdef012345"

  /session/settings/username:
    put:
      tags: ["user settings"]
      summary: Sets username
      operationId: setMyUserName
      requestBody:
        description: username
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/username'
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Username updated successfully
        '403':
          description: Username already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/settings/profilepicture:
    put:
      tags: ["user settings"]
      summary: Sets profile picture
      operationId: setMyPhoto
      requestBody:
        description: photo to be uploaded
        content:
          image/png:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Photo updated successfully
  /session/conversations:
    get:
      tags: ["conversations"]
      summary: Gets all conversations
      description: |-
        It gets all the conversations (both private chats and groups) for the specified user.
      operationId: getMyConversations
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          description: Conversations obtained successfully
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Conversations'
  /session/conversations/{conversationid}:
    parameters:
      - $ref: '#/components/parameters/conversationid'
    get:
      tags: ["conversations"]
      summary: Gets a conversation
      description: |-
        It retrieves a specific conversation (be it a private chat or a group for a specific user).
      operationId: getConversation
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          description: Conversation obtained successfully
          content: 
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Chat'
                  - $ref: '#/components/schemas/Group'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags: ["messaging"]
      summary: Send a message
      description: |-
        It sends a message to a specific conversation (be it in a private chat or a group for a specific user).
      operationId: sendMessage
      requestBody:
        description: message to be sent
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/TextMessage'
                - $ref: '#/components/schemas/PhotoMessage'
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Message sent
        '404':
          description: Conversation not found
    delete:
      tags: ["groups"]
      summary: Leave a group
      description: |-
       If the current conversation is a group, it leaves the group. Otherwise, it throws an error.
      operationId: leaveGroup
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Group left successfully
        '403': 
          description: The current conversation is not a group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404': 
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/conversations/{conversationid}/settings/groupname:
    parameters:
      - $ref: '#/components/parameters/conversationid'
    put:
      tags: ["groups"]
      summary: Sets group name
      description: It sets the name of a group.
      operationId: setGroupName
      requestBody:
        description: groupname
        content:
          application/json:
            schema:
              type: string
              minLength: 1
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Name updated successfully
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/conversations/{conversationid}/settings/grouphoto:
    parameters:
      - $ref: '#/components/parameters/conversationid'
    put:
      tags: ["groups"]
      summary: Updates group photo
      description: |-
        It sets the photo of a group.
      operationId: setGroupPhoto
      requestBody:
        description: group photo
        content:
          image/png:
            schema:
              type: string
              format: byte
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Photo updated successfully
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/conversations/{conversationid}/{messageid}:
    parameters:
      - $ref: '#/components/parameters/conversationid'
      - $ref: '#/components/parameters/messageid'
    put:
      tags: ["messaging"]
      summary: Comment a message
      description: |-
        It puts a single comment to a message.
      operationId: commentMessage
      requestBody:
        description: comment to be put
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Comment added
        '404':
          description: Conversation and/or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
        tags: ["messaging"]
        summary: Forward a message
        description: |-
          It forwards a message to another chat (be it a private chat or a group).
        operationId: forwardMessage
        requestBody:
          description: conversation where message is forwarded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversationid'
          required: true
        responses:
          '401':
            $ref: '#/components/responses/UnauthorizedError'
          '204':
            description: Message forwarded
          '404':
            description: Conversation and/or message not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
    delete:
      tags: ["messaging"]
      summary: Delete a message
      description: |-
        It deletes a sent message.
      operationId: deleteMessage
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Message deleted
        '403':
          description: Message was not sent by the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation and/or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/conversations/{conversationid}/{messageid}/{commentid}:
    parameters:
      - $ref: '#/components/parameters/conversationid'
      - $ref: '#/components/parameters/messageid'
      - $ref: '#/components/parameters/commentid'
    delete:
      tags: ["messaging"]
      summary: Delete a comment
      description: |-
        It deletes a comment to a given message.
      operationId: uncommentMessage
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '204':
          description: Comment deleted
        '403':
          description: Comment was not sent by the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation and/or message and/or comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /session/conversations/new:
    put:
      tags: ["groups"]
      summary: Add to group
      description: |-
        It adds a person to a group via a username. If the group does not exist, it creates it. If the adder is not in the group, an error is thrown.
      operationId: addToGroup
      requestBody:
        description: user and group
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                    $ref: '#/components/schemas/username'
                group:
                    $ref: '#/components/schemas/conversationid'
        required: true
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '202':
          description: A new group with that user has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '204':
          description: User added successfully
        '403':
          description: Users can only be added in groups the adder takes part in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation and/or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    username:
      title: username
      description: This object represents a username
      type: string
      example: Maria
      pattern: 'ˆ.*?$'
      minLength: 3
      maxLength: 16
    conversationid:
      title: conversationid
      description: This object represents a conversation id
      type: integer
      example: 1
    messageid:
      title: message id
      description: This object represents a message id
      type: integer
      example: 1
    commentid:
      title: comment id
      description: This object represents a comment id
      type: integer
      example: 1
    User:
      title: User
      description: This object represents a single user
      type: object
      properties:
        username:
          $ref: '#/components/schemas/username'
        propic:
          type: string
          format: binary
    Conversations:
      title: Conversations
      description: This object represents the whole list of a single user's Conversations
      type: object
      properties:
        members:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/ChatPreview'
              - $ref: '#/components/schemas/GroupPreview'
    ChatPreview:
      title: ChatPreview
      description: "This object represents the preview of a single chat"
      type: object
      properties:
        chatid:
          $ref: '#/components/schemas/conversationid'
        user:
          $ref: '#/components/schemas/User'
        lastmessage:
          oneOf:
            - $ref: '#/components/schemas/TextMessage'
            - $ref: '#/components/schemas/PhotoMessage'
    Chat:
      title: Chat
      description: "This object represents a single private chat"
      type: object
      properties:
        conversationid:
          $ref: '#/components/schemas/conversationid'
        user:
          $ref: '#/components/schemas/User'
        messages:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/TextMessage'
              - $ref: '#/components/schemas/PhotoMessage'
          minItems: 1
    GroupPreview:
      title: GroupPreview
      description: "This object represents the preview of a single groupchat"
      type: object
      properties:
        chatid:
          $ref: '#/components/schemas/conversationid'
        user:
          $ref: '#/components/schemas/User'
        lastmessage:
          oneOf:
            - $ref: '#/components/schemas/TextMessage'
            - $ref: '#/components/schemas/PhotoMessage'
    Group:
      title: Group
      description: "This object represents a single group"
      type: object
      properties:
        conversationid:
          $ref: '#/components/schemas/conversationid'
        members:
          type: array
          items:
            $ref: '#/components/schemas/User'
          minItems: 2
          uniqueItems: true
        messages:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/TextMessage'
              - $ref: '#/components/schemas/PhotoMessage'
          minItems: 1
        groupname:
          type: string
        grouphoto:
          type: string
          format: byte
    TextMessage:
      title: TextMessage
      description: "This object represents a single text message"
      type: object
      properties:
        messageid:
          $ref: '#/components/schemas/messageid'
        timestamp:
          type: string
          format: date-time
        content:
          type: string
          minLength: 1
        username:
          $ref: '#/components/schemas/username'     # sender's username
        checkmarks:
          type: number
          minimum: 0
          maximum: 2
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
          uniqueItems: true
        sentbyme:
          type: boolean
        replyingto:
          oneOf:
              - $ref: '#/components/schemas/TextMessage'
              - $ref: '#/components/schemas/PhotoMessage'
    PhotoMessage:
      title: PhotoMessage
      description: "This object represents a single photo message"
      type: object
      properties:
        messageid:
          $ref: '#/components/schemas/messageid'
        timestamp:
          type: string
          format: date-time
        content:
          type: string
          format: byte
        username:
          $ref: '#/components/schemas/username'     # sender's username
        checkmarks:
          type: number
          minimum: 0
          maximum: 2
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
          uniqueItems: true
        replyingto:
          oneOf:
              - $ref: '#/components/schemas/TextMessage'
              - $ref: '#/components/schemas/PhotoMessage'
        sentbyme:
          type: boolean
    Comment:
      title: Comment
      description: "This object represents a single comment to a message"
      type: object
      properties:
        commentid:
          $ref: '#/components/schemas/commentid'
        sender:
          $ref: '#/components/schemas/username'
        reaction:
          type: string
          enum: ["laugh", "sad", "thumbs_up", "surprised", "love", "pray"]
        sentbyme:
          type: boolean
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
  parameters:
    username:
      schema:
        $ref: '#/components/schemas/username'  
      name: username
      in: path
      description: Username
      required: true
    conversationid:
      schema:
        $ref: '#/components/schemas/conversationid'
      name: conversationid
      in: path
      description: ID of every conversation, associated both with the preview and the actual conversation
      required: true
    messageid:
      schema:
        $ref: '#/components/schemas/messageid'
      name: messageid
      in: path
      description: id of a single message
      required: true
    commentid:
      schema:
        $ref: '#/components/schemas/commentid'
      name: commentid
      in: path
      description: id of a single comment
      required: true
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  
  securitySchemes:
    userID: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT  # optional, for documentation purposes only

security:
  - userID: []